<body>
<div class="container" style=" width: 50%" >
  <div class="row col s6">
    <ul class="tabs offset-0">
      <li class="tab col s3"><a class="active teal-text" href="#signin">SignIn</a></li>
      <li class="tab col s3"><a class="teal-text"href="#signup">SignUp</a></li>
    </ul>
  </div>
  <div id="signin">
    <div class="col s4">
      <form method="post" action="/signin">
        <div class="input-field">
          <label>Email</label>
          <input type="text" class="validate" name="empID" >
        </div>
        <div class="input-field">
          <label>Password</label>
          <input type="password" class="validate" name="password">
        </div>
        <div class="row input-field">
          <button class="waves-effect waves-light btn input-field" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div id="signup">
    <div class="col s4">
      <form  method="post" action="/signup">
        <div class="row input-field">
          <label>Name</label>
          <input type="text" class="validate" name="name">

        </div>
        <div class="row input-field">
          <label>Email</label>
          <input type="email" class="validate" name="email">

        </div>
        <div class="row input-field">
          <label>Password</label>
          <input type="password" class="validate" name="password">

        </div>
        <div class="input-field">
          <label>Password Confirmation</label>
          <input type="password" class="validate" name="confirmation">
        </div>
        
        <div class="col s12 input-field">
          <button class="waves-teal waves-effect waves-light btn input-field" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>