<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="text" name="name">
  <input type="text" name="firmname">
  <input type="number" name="mobile">
  <input type="number" name="telephone">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>

