<h1>Signup</h1>
<div class="row">
    <form class="col s12" method="POST" action="/login">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="firmname" type="text" class="validate">
          <label for="firmname">Firm Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="mobile" type="text" class="validate">
          <label for="mobile">Mobile</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="telephone" type="text" class="validate">
          <label for="telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="col s12 input-field">
          <button class="teal waves-effect waves-light btn input-field" type="submit">Submit</button>
        </div>
    </form>
</div>

